
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #b2d4e2;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-family: 'Poppins', sans-serif;
}
h3{
    font-family: 'Poppins', sans-serif;
}
h4{
    font-family: 'Poppins', sans-serif;
}
h5{
    font-family: 'Poppins', sans-serif;
}
.team{
    margin: 5px;
}


/* Default text color */
.hover-text {
    color: #333; /* Change this to your desired default text color */
    transition: color 0.3s; /* Smooth transition effect on color change */
}

/* Text color change on hover */
.hover-text:hover {
    color: #4495ec; /* Change this to your desired hover text color */
}

.card-hover {
    color: #525252;
    transition: color 0.3s;
}

.card-hover:hover {
    color: rgb(90, 191, 231);
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid #898a88f7;
    padding: 20px;
    width: 200px;
    height: 150px;
  }


.team img {
    width: 100%;
    height: calc(100vh /3);
    object-fit:cover;
  }

  
